body {
    font-family: 'Montserrat', serif;
}

.cursor-party {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🎉</text></svg>") 16 0,auto;
}

.cursor-handshake {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🤝</text></svg>") 16 0,auto;
}

.cursor-light {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>💡</text></svg>") 16 0,auto;
}

.cursor-lightning {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>⚡</text></svg>") 16 0,auto;
}

.cursor-hourglass {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>⏳</text></svg>") 16 0,auto;
}

.cursor-palm {
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🌴</text></svg>") 16 0,auto;
}

.content {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8px;
    padding-right: 8px;
}

.content h1 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 12px;
}

.content h2 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 12px;
    margin-top: 16px
}

.content h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 6px;
    margin-top: 16px
}

.content h4 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 6px;
    margin-top: 12px
}

.content p {
    margin-bottom: 12px;
}

.content a {
    color: #b28d2f;
}

.content li {
    margin-left: 16px;
    margin-bottom: 12px;
}

.content li::marker {
    font-weight: 600;
}

.content ol li {
    list-style-type: decimal;
}

.content ul li {
    list-style-type: disc;
}

.content hr {
    margin: 2em 0;
}

.better-times {
    font-family: "Better Times";
    font-size: 5rem;
    font-weight: normal;
}

@media (min-width: 768px) {
    .better-times {
        font-size: 8rem;
    }
}