<!DOCTYPE html>
<!-- prettier-ignore -->
<html lang="de">
    <head>
        {{ partial "head.html" . }}
        {{ partial "gtag.html" . }}
        <title>{{ .Site.Data.meta.name }}{{ if .Site.Data.meta.slogan }} | {{ .Site.Data.meta.slogan }}{{ end }}</title>
        <meta name="description" content="{{ .Site.Data.meta.description }}" />
    </head>

    <body>
        {{ partial "navbar.html" . }}
        {{ partial "cookie.html" . }}
        {{ partial "socialbuttons.html" . }}
        {{ partial "weddingheroes-ad.html" . }}
        <div id="page-container">
            <div id="page-content">
                {{ partial "headerCarousel.html" . }}
                {{ .Content }}
            </div>
            {{ partial "footer.html" . }}
        </div>
    </body>
</html>

<style>
    html,
    body {
        min-height: 100vh;
        background-color: var(--color-black);
        color: white;
    }

    #page-container {
        min-height: 100vh;
        position: relative;
    }

    #page-content {
        padding-bottom: 8rem; /* Footer height */
    }
</style>
