<script>
    let cookieConsent = 'all'

    function updateCookieOptions() {
        const inputElement = document.getElementById('cookie-consent-input')
        console.log(inputElement.checked)
        cookieConsent = inputElement.checked ? 'all' : 'necessary'
        localStorage.setItem('cookie-consent', cookieConsent)
        document.getElementById('cookie-modal-close').click()
        document.getElementById('cookie-consent').remove()
    }

    setTimeout(() => {
        if (localStorage.getItem('cookie-consent')) {
            document.getElementById('cookie-consent').remove()
        }
    }, 0)
</script>

<div id="cookie-consent">
    <span id="cookie-consent-text">Diese Website verwendet Cookies.</span>
    <div id="cookie-consent-buttons">
        <button type="button" class="btn btn-outline-light" onclick="updateCookieOptions()">OK</button>
        <button type="button" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#cookie-modal"><i class="bi bi-gear"></i></button>
    </div>
</div>

<div id="cookie-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Cookie Einstellungen</h5>
          <button id="cookie-modal-close" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="display: none;"></button>
        </div>
        <div class="modal-body">
          <p>Diese Website verwendet Cookies, um die Nutzung zu verbessern, während Du durch die Website navigierst. Von diesen Cookies werden die Cookies, die nach Bedarf kategorisiert werden, in deinem Browser gespeichert, da sie für die Funktionalität der Website wesentlich sind. Wir verwenden auch Cookies von Drittanbietern, mit denen wir analysieren und verstehen können, wie Du diese Website nutzt. Diese Cookies werden nur mit deiner Zustimmung in deinem Browser gespeichert. Du hast auch die Möglichkeit, diese Cookies zu deaktivieren. Das Deaktivieren einiger dieser Cookies kann sich jedoch auf deine Browser-Performance auswirken.</p>
          <div class="form-check form-switch">
            <input id="cookie-consent-input-necessary" class="form-check-input" type="checkbox" disabled>
            <label class="form-check-label" for="cookie-consent-input-necessary">Notwendig</label>
          </div>
          <div class="form-check form-switch">
            <input id="cookie-consent-input" class="form-check-input" type="checkbox" checked>
            <label class="form-check-label" for="cookie-consent-input">Nicht Notwendig</label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="cookie-modal-save" class="btn btn-dark" onclick="updateCookieOptions()">Speichern</button>
        </div>
      </div>
    </div>
  </div>

<style>
    #cookie-consent {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 80px;
        padding: 2em 2em 0 2em;
        background-color: #1f2125;
        z-index: 3;
    }

    #cookie-consent-text {
        font-size: 0.7em;
        position: relative;
    }

    #cookie-consent-buttons {
        float: right;
        position: relative;
        bottom: 10px;
    }

    #cookie-modal {
        color: #1f2125;
    }

    #cookie-modal p {
        font-size: 0.8em;
        line-height: 1.5em;
    }

    @media only screen and (min-width: 1000px) {
        #cookie-consent {
            width: 500px;
            padding: 2em 2em 0 2em;
        }

        #cookie-consent-buttons {
            position: relative;
            bottom: 10px;
        }
    }
</style>