<div id="cookie-banner" class="hidden fixed top-0 left-0 w-full h-full bg-[rgba(0,0,0,0.8)]">
    <div class="w-full h-full flex items-center justify-center">
        <div class="px-6 md:px-10 py-8 pb-6 bg-black rounded-lg border border-gold text-white max-w-[600px] max-h-full overflow-y-scroll">
            <div class="flex flex-col gap-4">
                <span class="text-center text-2xl font-semibold"><span class="text-4xl relative top-1 mr-2">🍪</span> Wir nutzen Cookies</span>
                <span class="font-light leading-7">
                    Für ein optimales Website-Erlebnis nutzen wir Cookies und weitere Online-Technologien, um Funktionen anzubieten 
                    und Statistiken zu erheben. Ihr Klick auf „Akzeptieren“ erlaubt uns diese Datenverarbeitung sowie die Weitergabe 
                    an Drittanbieter (auch in Drittländern) gemäß unserer Datenschutzerklärung. Cookies lassen sich jederzeit ablehnen 
                    oder in den Einstellungen anpassen.
                </span>
                <div class="show-cookie-details px-4 py-2 border border-gold rounded-lg hidden">
                    <div class="flex flex-col gap-2">
                        <div class="flex flex-row gap-4 items-center">
                            <div class="grow font-light">
                                <span class="font-bold block">Essentiell</span>
                                <span>Diese Technologien sind erforderlich, um die Kernfunktionalität der Website zu aktivieren.</span>
                            </div>
                            <div>
                                <label class="switch">
                                    <input type="checkbox" checked="true" disabled>
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <hr>
                        <div class="flex flex-row gap-4 items-center">
                            <div class="grow font-light">
                                <span class="font-bold block">Marketing</span>
                                <span>Diese Technologien werden von Werbetreibenden verwendet, um Anzeigen zu schalten, die für Ihre Interessen relevant sind.</span>
                            </div>
                            <div>
                                <label class="switch">
                                    <input id="cookie-details-marketing" type="checkbox" checked="true">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <button onclick="toggleCookieDetails()" class="px-8 py-2 rounded-md duration-300">
                    Details <span class="show-cookie-details">anzeigen</span><span class="show-cookie-details hidden">ausblenden</span>
                </Button>
                <div class="show-cookie-details grid hidden">
                    <button onclick="saveCookieConsent()" class="px-8 py-2 bg-gold text-black font-bold border-2 border-gold rounded-md hover:bg-gold-dark hover:border-gold-dark hover:scale-[103%] duration-300">
                        Speichern
                    </Button>
                </div>
                <div class="show-cookie-details grid md:grid-cols-2 gap-2">
                    <button onclick="denyCookieConsent()" class="px-8 py-2 bg-gray-800 text-gold font-bold border-2 border-gold rounded-md hover:scale-[103%] duration-300">
                        Alles ablehnen
                    </Button>
                    <Button onclick="saveCookieConsent()" class="px-8 py-2 bg-gold text-black font-bold border-2 border-gold rounded-md hover:bg-gold-dark hover:border-gold-dark hover:scale-[103%] duration-300">
                        Alles akzeptieren
                    </Button>
                </div>
                <div class="text-center text-sm mt-2">
                    <a href="/impressum">Impressum</a> | <a href="/privacy">Datenschutz</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // show cookie-banner if theres no consent
    if (!localStorage.getItem("cookies")) {
        document.getElementById("cookie-banner").classList.remove("hidden")
        document.getElementsByTagName("header")[0].style.zIndex = 0
    } else {
        const scripts = document.getElementsByClassName("cookie-marketing-script")
        for (const script of scripts) {
            script.type = "text/javascript"
            script.innerHTML = script.innerHTML
        }
    }

    function toggleCookieDetails() {
        const elements = document.getElementsByClassName("show-cookie-details")
        for (const e of elements) {
            if (e.classList.contains("hidden")) {
                e.classList.remove("hidden")
            } else {
                e.classList.add("hidden")
            }
        }
    }

    function saveCookieConsent() {
        const consent = document.getElementById("cookie-details-marketing").checked ? "full" : "essential"
        localStorage.setItem("cookies", consent)
        document.getElementById("cookie-banner").classList.add("hidden")
        document.getElementsByTagName("header")[0].style.zIndex = 50

        const scripts = document.getElementsByClassName("cookie-marketing-script")
        for (const script of scripts) {
            script.type = "text/javascript"
            script.innerHTML = script.innerHTML
        }
    }

    function denyCookieConsent() {
        localStorage.setItem("cookies", "essential")
        document.getElementById("cookie-banner").classList.add("hidden")
        document.getElementsByTagName("header")[0].style.zIndex = 50
    }
</script>