<header class="z-50 fixed top-0 w-[100vw] bg-black border-b-2 border-gold shadow-lg">
    <div class="container mx-auto h-[100px] max-w-[1400px] px-10">
        <div class="flex flex-row justify-center md:justify-between">
            {{ if .Site.Data.meta.madebyhand }}
                <a id="badge" href="/" class="w-52 h-[140px] p-4 bg-white shadow-lg rounded-b-xl">
                    <img src="{{ .Site.Data.meta.logo }}" alt="{{ .Site.Data.meta.name }} Logo" class="max-w-[90%] max-h-[80px] mx-auto" />
                    <img src="https://handgroup.b-cdn.net/logos/made_by_hand.svg" alt="Made by H.AND" class="h-3 mx-auto mt-4" />
                </a>
            {{ else }}
                <a id="badge" href="/" class="z-50 w-52 h-[140px] p-6 bg-white shadow-lg rounded-b-xl">
                    <img src="{{ .Site.Data.meta.logo }}" alt="{{ .Site.Data.meta.name }} Logo" class="max-w-[90%] h-full mx-auto" />
                </a>
            {{ end }}

            <label for="toggle-navbar" class="z-50 md:hidden absolute top-10 right-7 text-white">
                <svg id="mobile-navbar-button" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
            </label>
            <input id="toggle-navbar" type="checkbox" hidden />

            <div class="hidden md:block pt-44 md:pt-0 w-full md:w-auto h-fit bg-black md:bg-transparent border-b-2 border-gold md:border-none shadow-lg md:shadow-none text-center absolute md:relative md:top-16">
                <nav class="flex flex-col md:flex-row gap-6 text-white md:text-sm tracking-wider">
                    {{ range .Site.Menus.main }}
                        {{ $text := print .Name | safeHTML }}
                        {{ if .Params.links }}
                            <button onclick="expandLinks({{ .Name }})" class="hidden md:block duration-300 hover:text-gold">
                                {{ $text }}
                            </button>
                            <div class="md:hidden flex flex-col gap-4 border-y border-gray-100 my-2">
                                <span class="text-sm text-gold font-light">· {{ $text }} ·</span>
                                {{ range .Params.links }}
                                    <a class="hover:text-gold" href="{{ .url }}">
                                        {{ .name }}
                                    </a>
                                {{ end }}
                            </div>
                        {{ else if eq .Params.type "button"}}
                            <div class="mb-6 md:mb-0">
                                <a class="py-2 px-4 text-black font-bold bg-gold rounded-md duration-300 hover:bg-gold-dark" href="{{ .URL }}">
                                    {{ $text }}
                                </a>
                            </div>
                        {{ else }}
                            <a class="hover:text-gold duration-300" href="{{ .URL }}">
                                {{ $text }}
                            </a>
                        {{ end }}
                    {{ end }}
                </nav>
            </div>
        </div>
    </div>
    {{ range .Site.Menus.main }}
        {{ if .Params.links }}
            <div id="links-{{ .Name }}" class="expanded-links hidden max-w-[1400px] mx-auto p-8 xl:pb-10 mt-8 xl:mt-0 container">
                <div class="w-[900px] max-w-full ml-auto grid grid-cols-3 gap-x-4 gap-y-8">
                    {{ range .Params.links }}
                        <a class="text-white hover:text-gold decoration-white hover:decoration-gold duration-300" href="{{ .url }}">
                            <div>
                                <span class="block font-bold underline underline-offset-4 decoration-1 leading-8">{{ .name }}</span>
                                <span class="text-sm text-white">{{ .description }}</span>
                            </div>
                        </a>
                    {{ end }}
                </div>
            </div>
        {{ end }}
    {{ end }}
</header>
<div id="header-overlay" class="z-40 hidden absolute top-0 left-0 w-[100vw] h-[99999px] bg-black opacity-50"></div>

<script>
    function expandLinks(name) {
        const elements = document.getElementsByClassName("expanded-links")
        for (let e of elements) e.style.display = "none"
        const overlay = document.getElementById("header-overlay")
        const element = document.getElementById(`links-${name}`)
        if (element.style.display === "block") {
            element.style.display = "none"
            overlay.style.display = "none"
        } else {
            element.style.display = "block"
            overlay.style.display = "block"
        }
    }

    document.getElementById("header-overlay").addEventListener("mouseover", () => {
        document.getElementById("header-overlay").style.display = "none"
        const elements = document.getElementsByClassName("expanded-links")
        for (let e of elements) e.style.display = "none"
    })
</script>

<style>
    #toggle-navbar:checked + div {
        display: block !important;
    }
</style>