<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">

    <!-- Tailwind -->
    <link rel="stylesheet" href="/css/tw-build.css">

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:thin,extrathin,light,regular,medium,semibold,bold">
    <link rel="stylesheet" href="/css/fonts.css" />

    <!-- Animate on scroll -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    {{ partial "gtag.html" . }}
    {{ partial "metaPixel.html" . }}

    {{ $title := print .Site.Title " | " .Title }}
    <title>{{ $title }}</title>
</head>