<div id="sc-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        {{ range $index, $element := .Params.carousel }}
        <div class="carousel-item {{ if eq $index 0 }}active{{ end }}">
            <img src="{{ $element.image }}" class="d-block w-100" alt="{{ $element.name }}">
            {{ if isset $element "caption" }}<img class="coursel-caption-img" src="{{ $element.caption }}" alt="{{ .name }} Caption" />{{ end }}
        </div>
        {{ end }}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<style>
    #sc-carousel .carousel-item {
        position: relative;
    }

    #sc-carousel img {
        object-fit: cover !important;
        height: 40vh;
    }

    #sc-carousel .coursel-caption-img {
        display: none;
        position: absolute;
        height: 50vh !important;
        bottom: 2em;
        right: 10%;
    }

    #sc-carousel .carousel-control-next, .carousel-control-prev {
        z-index: 0;
    }

    #sc-carousel h1 {
        font-weight: 700;
        line-height: 1.5em;
    }

    @media only screen and (min-width: 600px) {
        #sc-carousel img {
            object-fit: cover;
            height: auto;
            height: calc(100vh - 80px) !important; /* Navbar height */
        }

        #sc-carousel .coursel-caption-img {
            display: block;
        }
    }

    @media only screen and (min-width: 1000px) {
        #sc-carousel img {
            height: calc(100vh - 100px) !important; /* Navbar height */
        }
    }
</style>