<title>
  {{ if .IsHome }}
    {{ .Title }}
  {{ else }}
    {{ .Title }} | {{ .Site.Title }}
  {{ end }}
</title>

<!-- Meta Tags Start -->
<meta charset="utf-8" />
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta property="og:type " content="website">
{{ if .IsHome }}
  <meta name="title" content="{{ .Title }}">
  <meta property="og:title" content="{{ .Title }}">
{{ else }}
  <meta name="title" content="{{ .Title }} | {{ .Site.Title }}">
  <meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}">
{{ end }}
<meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}">
<meta property="og:image" content="{{ .Site.BaseURL }}images/marry-jane.jpeg" />
<meta property="og:image:width" content="1000" />
<meta property="og:image:height" content="750" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:site_name" content="{{ .Site.Title }} | {{ .Site.Params.slogan }}">
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:label1" content="Geschätzte Lesezeit" />
<meta name="twitter:data1" content="3 Minuten" />
<!-- Meta Tags End -->

<!-- Tailwind Start -->
{{ $styles := resources.Get "css/styles.scss" | toCSS | postCSS (dict "config" "./assets/css/postcss.config.js") }}
{{ if .Site.IsServer }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}">
{{ else }}
  {{ $styles := $styles | minify | fingerprint | resources.PostProcess }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}">
{{ end }}
<!-- Tailwind End -->

<!-- Fonts Start -->
<link rel="stylesheet" href="/fonts/fonts.css" />
<!-- Fonts End -->

<!-- Bootstrap Start -->
<link rel="stylesheet" href="/css/bootstrap.css">
<!-- Bootstrap End -->

<!-- Animate on Scroll Start -->
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<!-- Animate on Scroll End -->