<div id="navbar">
    <div class="row">
        <div class="col"></div>
        <div class="col-xs-12 col-md-8">
            <a href="/">
                <div id="navbar-badge">
                    <img id="navbar-logo" src="/images/logo.png" alt="{{ .Site.Data.meta.name }} Logo" />
                    {{ if eq .Site.Data.meta.MadeByHandLogo true }}
                        <img id="navbar-made-by-hand-logo" src="/images/made_by_hand.png" alt="MADE BY HAND">
                    {{ end }}
                </div>
            </a>
            <div id="navbar-menu">
                <div class="btn-group" role="group">
                    {{ range .Site.Data.links.navbar }}
                        <a type="button" class="btn btn-outline-primary" href="{{ .url }}">{{ .name }}</a>
                    {{ end }}
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
<div id="height-adjustment"></div>

<style>
    #height-adjustment {
        height: 80px;    /* Navbar height */
    }

    #navbar {
        position: fixed;
        width: 100vw;
        height: 80px;
        color: white;
        background-color: #1f2125;
        border-bottom: 2px solid #b18d2f;
        z-index: 2;
    }

    #navbar .row {
        width: 100vw;
        margin: 0;
    }

    #navbar-badge {
        background-color: white;
        border-radius: 0 0 10px 10px;
        height: 100px;
        width: 180px;
        position: relative;
        color: black;
        padding: 1em 0;
        margin: 0 auto;
        z-index: 1;
    }

    #navbar-logo {
        display: block;
        object-fit: contain;
        margin: 0 auto;
        height: 100%;
    }

    #navbar-menu {
        float: right;
        position: relative;
        padding-right: 2em;
        top: 70px;
    }

    #navbar-menu .burger-button {
        position: absolute;
        top: -155px;
        right: 9px;
        border: 1px solid white;
        border-radius: 4px;
    }

    #navbar-menu .burger-button svg {
        color: white;
        width: 3em;
    }

    #navbar-menu .btn-group {
        display: none;
    }

    #navbar-menu .btn-group a {
        border-color: transparent !important;
        background-color: transparent !important;
        box-shadow: none;
        outline: 0;
        font-size: 12px;
        letter-spacing: 1px;
        color: white;
    }
    
    @media only screen and (min-width: 1000px) {
        #height-adjustment {
            height: 100px;    /* Navbar height */
        }

        #navbar {
            height: 100px;
        }

        #navbar-badge {
            float: left;
            height: 130px;
            padding: 1.5em 0;
        }

        #navbar-menu .btn-group {
            display: block;
        }
    }
</style>

{{ if eq .Site.Data.meta.MadeByHandLogo true }}
    <style>
        #navbar-badge {
            height: 110px;
            padding: 0.5em 0;
        }

        #navbar-logo {
            height: 70%;
        }

        #navbar-made-by-hand-logo {
            width: 80px;
            margin-top: 15px;
            margin-left: 50px;
        }

        @media only screen and (min-width: 1000px) {
            #navbar-badge {
                height: 130px;
                padding: 1em 0;
            }

            #navbar-logo {
                height: 80%;
            }
        }
    </style>
{{ end }}