<!-- Bootstrap Start -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<!-- Bootstrap End -->

<!-- Animate on Scroll Start -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>AOS.init()</script>
<!-- Animate on Scroll End -->

<!-- fslightbox.js Start -->
<script src="/js/fslightbox.js"></script>
<!-- fslightbox.js End -->

<!-- Netlify Identity Widget Start -->
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/"
        })
      }
    })
  }
</script>
<!-- Netlify Identity Widget End -->

<!-- Header Start -->
<script>
  // Fixed Header Start
  window.addEventListener("scroll", () => {
    if (window.scrollY === 0) {
      const headers = document.getElementsByTagName("header")
      headers[0].classList.remove("fixed", "shadow-md")
      if (headers.length > 1)
        headers[1].remove()
    } else {
      const headers = document.getElementsByTagName("header")
      if (headers.length === 1) {
        const new_header = headers[0].cloneNode(true)
        new_header.style.zIndex = -1
        headers[0].classList.add("fixed", "shadow-md")
        headers[0].after(new_header)
      }
    }
  })
  // Fixed Header End

  // Toggle Mobile Menu Start
  document.getElementById("header-open-button").addEventListener("click", () => {
    document.getElementById("header-mobile-menu").classList.toggle("hidden")
  })

  document.getElementById("header-close-button").addEventListener("click", () => {
    document.getElementById("header-mobile-menu").classList.toggle("hidden")
  })
  // Toggle Mobile Menu End

  // Toggle Mobile Submenu Start
  for (const button of document.getElementsByClassName("header-submenu-button")) {
    button.addEventListener("click", event => {
      const button = event.target.tagName === "BUTTON" ? event.target : getParentButton(event.target)
      button.children[0].classList.toggle("rotate-180")
      const submenu = button.nextElementSibling
      submenu.classList.toggle("hidden")
    })
  }
  // Toggle Mobile Submenu End

  // Toggle Desktop Flyout Menu Start
  function closeFlyoutMenus() {
    document.removeEventListener("click", closeFlyoutMenus)
    for (const flyoutMenu of document.getElementsByClassName("header-flyout-menu")) {
      flyoutMenu.style.opacity = 0
      flyoutMenu.style.visibility = "hidden"
    }
  }

  function getParentButton(element) {
    if (element.tagName !== "BUTTON") {
      return getParentButton(element.parentElement)
    } else {
      return element
    }
  }

  for (const button of document.getElementsByClassName("header-flyout-button")) {
    button.addEventListener("click", event => {
      const button = event.target.tagName === "BUTTON" ? event.target : getParentButton(event.target)
      const flyoutMenu = button.nextElementSibling
      if (flyoutMenu.style.opacity == 1) {
        flyoutMenu.style.opacity = 0
        flyoutMenu.style.visibility = "hidden"
      } else {
        flyoutMenu.style.opacity = 1
        flyoutMenu.style.visibility = "visible"
        document.addEventListener("click", () => {
          document.addEventListener("click", closeFlyoutMenus)
        })
      }
    })
  }
  // Toggle Desktop Flyout Menu End
</script>
<!-- Header End -->

{{ if isset .Site.Data.seo "gtag" }}
<!-- Google Tag Manager -->
<script type="text/plain" data-cookie-consent="tracking">
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-{{ .Site.Data.google.google_tag_key }}');
</script>
<!-- End Google Tag Manager -->
{{ end }}