{{ if eq .Site.Data.meta.SocialButtons true}}
    <div id="socialbuttons">
        {{ range .Site.Data.links.social }}
        <div class="socialbutton">
            <a href="{{ .url }}" target="blank_">
                <i class="bi bi-{{ .icon }}"></i>
            </a>
        </div>
        {{ end }}
    </div>

    <style>
        #socialbuttons {
            display: none;
            position: fixed;
            left: 1em;
            bottom: 15%;
            width: 2.5em;
            padding-top: 1em;
            background-color: #b18d2f;
            border-radius: 1.25em;
            z-index: 2;
        }

        #socialbuttons .socialbutton {
            margin-bottom: 1em;
            text-align: center;
        }

        #socialbuttons a {
            color: white;
            font-size: 1.5em;
            margin-bottom: 1em;
        }

        @media only screen and (min-width: 1000px) {
            #socialbuttons {
                display: block;
                left: 50px;
                bottom: 20%;
            }
        }
    </style>
{{ end }}