<!DOCTYPE html>
<html lang="de">
    <head>
        <title>{{ .Site.Data.meta.name }}</title>
        {{ partial "head.html" . }}
    </head>

    <body>
        <div id="page-container">
            <div id="content-wrap">
                {{ partial "navbar.html" . }}
                {{ partial "cookie.html" . }}
                {{ partial "socialbuttons.html" . }}
                {{ partial "headerCarousel.html" . }}
                {{ .Content }}
            </div>
            {{ partial "footer.html" . }}
        </div>
    </body>
</html>

<style>
    html, body {
        min-height: 100vh;
        background-color: var(--color-black);
        color: white;
    }

    #page-container {
        min-height: 100vh;
        position: relative;
    }

    #content-wrap {
        padding-bottom: 8rem;    /* Footer height */
    }
</style>