{{ if eq (.Get `theme`) "light" }}
<div class='contentrow-wrapper-light'>
{{ else }}
<div class='contentrow-wrapper-dark'>
{{ end }}
    <div class="contentrow">
        {{ .Inner | markdownify }}
    </div>
</div>

<style>
    .contentrow-wrapper-light {
        background-color: white;
        color: #1f2125;
    }

    .contentrow-wrapper-dark {
        background-color: #1f2125;
        color: white;
    }

    .contentrow {
        margin: 0 auto;
        padding: 3em 1em;
        max-width: 900px;
    }

    .contentrow img {
        max-width: 100%;
    }

    .contentrow p {
        line-height: 1.5em;
    }

    @media only screen and (min-width: 600px) {
        .contentrow h1 {
            font-size: 4em;
        }
    }
</style>