
<div class='contentrow-wrapper-{{ if isset .Params "theme" }}{{.Params.theme}}{{ else }}light{{ end }}'>
    <div class='contentrow {{ if isset .Params "width" }}{{.Params.width}}{{ else }}m{{ end }}'>
        {{ .Inner | markdownify }}
    </div>
</div>

<style>
    .contentrow-wrapper-light {
        background-color: white;
        color: #1f2125;
    }

    .contentrow-wrapper-dark {
        background-color: #1f2125;
        color: white;
    }

    .contentrow.xxl {
        max-width: 100%;
        padding: 3em 0;
    }

    .contentrow.xl {
        margin: 0 auto;
        max-width: 1200px;
        padding: 3em 1em;
    }

    .contentrow.l {
        margin: 0 auto;
        max-width: 900px;
        padding: 3em 1em;
    }

    .contentrow.m {
        margin: 0 auto;
        max-width: 700px;
        padding: 3em 1em;
    }

    .contentrow.s {
        margin: 0 auto;
        max-width: 500px;
        padding: 3em 1em;
    }



    .contentrow img {
        width: auto;
        max-width: 100%;
    }

    .contentrow p {
        line-height: 1.5em;
    }
</style>