<form name="contact" method="POST" action="/contact/success" data-netlify="true">
  <div class="grid grid-cols-12 gap-4">
    <div class="col-span-2">
      <label for="salutation" class="block mb-1 text-sm">Anrede</label>
      <select id="salutation" name="salutation" class="p-2 w-full bg-gray-100 border-0 rounded-md">
        <option>Herr</option>
        <option>Frau</option>
      </select>
    </div>
    <div class="col-span-5">
      <label for="firstname" class="block mb-1 text-sm">Vorname*</label>
      <input
        type="text"
        id="firstname"
        name="firstname"
        class="p-2 w-full bg-gray-100 border-0 rounded-md"
        required
      />
    </div>
    <div class="col-span-5">
      <label for="lastname" class="block mb-1 text-sm">Nachname*</label>
      <input
        type="text"
        id="lastname"
        name="lastname"
        class="p-2 w-full bg-gray-100 border-0 rounded-md"
        required
      />
    </div>
    <div class="col-span-12">
      <label for="company" class="block mb-1 text-sm">Firma</label>
      <input
        type="text"
        id="company"
        name="company"
        class="p-2 w-full bg-gray-100 border-0 rounded-md"
      />
    </div>
    <div class="col-span-6">
      <label for="email" class="block mb-1 text-sm">Email*</label>
      <input
        type="email"
        id="email"
        name="email"
        class="p-2 w-full bg-gray-100 border-0 rounded-md"
        required
      />
    </div>
    <div class="col-span-6">
      <label for="phone" class="block mb-1 text-sm">Telefon*</label>
      <input
        type="tel"
        id="phone"
        name="phone"
        class="p-2 w-full bg-gray-100 border-0 rounded-md"
      />
    </div>
    <div class="col-span-12">
      <label for="message" class="block mb-1 text-sm">Anfrage*</label>
      <textarea
        id="message"
        name="message"
        class="p-2 w-full bg-gray-100 border-0 rounded-md"
        rows="6"
        placeholder="Ihre Anfrage..."
        required
      ></textarea>
      <span class="text-sm font-light">* Pflichtfelder</span>
    </div>
    <div class="col-span-12">
      <input type="checkbox" id="privacy" name="privacy" required />
      <label for="privacy" class="text-sm">Ich stimme zu, dass meine Angaben aus dem oben stehenden Formular zur Beantwortung meiner Anfrage erhoben und verarbeitet werden.</label>
    </div>
    <button class="col-start-5 col-span-4 px-5 py-1 bg-gold rounded-md text-black no-underline cursor-pointer hover:bg-gold-dark duration-200">
      Abschicken
    </button>
  </div>
</form>