<!-- prettier-ignore -->
{{- $width := .Get "width" -}}
{{- $height := .Get "height" -}}
{{- $query := .Get "query" -}}
<div class="sc-gmaps">
    <iframe
        width="{{ $width }}"
        height="{{ if $height }}{{ $height }}{{ else }}450{{ end }}"
        allowfullscreen=""
        loading="lazy"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBdanO51ibHQTi0fFcyug3upt2I3SqCVVI
        &q={{$query}}"
    ></iframe>
</div>

<style>
    .sc-gmaps {
        padding-left: 0;
        padding-right: 0;
        margin: 2em 0;
        text-align: center;
        max-width: 100%;
    }

    .sc-gmaps iframe {
        border: 0;
        max-width: 100%;
        border-radius: 24px;
    }
</style>

{{ if not $width}}
<style>
    .sc-gmaps iframe {
        width: 100%;
    }
</style>
{{ end }}
