<div id="carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://www.incimages.com/uploaded_files/image/1920x1080/getty_542291608_205616.jpg" class="d-block w-100" alt="...">
            <img class="coursel-caption-img" src="/images/carousel_caption_1.png" />
        </div>
        <div class="carousel-item">
            <img src="https://www.crushpixel.com/big-static15/preview4/diy-woodworking-furniture-making-craftsmanship-1937111.jpg" class="d-block w-100" alt="...">
        </div>
        <!-- <div class="carousel-caption d-none d-md-block">
            <h1>Exklusive Hybrid-Events<br>im Schloss Herrenhausen</h1>
        </div> -->
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<style>
    #carousel {
        text-align: center;
    }

    #carousel .carousel-item {
        position: relative;
    }

    #carousel img {
        object-fit: cover !important;
        height: 40vh;
    }

    #carousel .coursel-caption-img {
        display: none;
        position: absolute;
        height: 50vh !important;
        bottom: 2em;
        right: 10%;
    }

    #carousel h1 {
        font-weight: 700;
        line-height: 1.5em;
    }

    @media only screen and (min-width: 600px) {
        #carousel img {
            object-fit: cover;
            height: auto;
            height: calc(100vh - 80px) !important; /* Navbar height */
        }

        #carousel .coursel-caption-img {
            display: block;
        }
    }

    @media only screen and (min-width: 1000px) {
        #carousel img {
            height: calc(100vh - 100px) !important; /* Navbar height */
        }
    }
</style>