<!-- prettier-ignore -->
{{- $title := .Get "title" -}}
{{- $text := .Get "text" -}}
{{- $image := .Get "image" -}}
{{- $link := .Get "link" -}}
<div class="sc-imagecard">
    <a href="{{ $link }}">
        <div class="card">
            <img
                class="sc-imagecard-image"
                src="{{$image}}"
                class="card-img-top"
                alt="{{$text}}"
            />
            <div class="card-img-overlay">
                <span class="imagecard-title" href="{{$link}}">{{$title}}</span>
                <p class="imagecard-text">{{$text | markdownify }}</p>
                {{ if $link }}
                <div class="text-center">
                    <span class="more">MEHR</span>
                </div>
                {{ end }}
            </div>
        </div>
    </a>
</div>

<style>
    .sc-imagecard {
        margin: 4em auto;
        width: 100%;
        max-width: 24rem;
    }

    .sc-imagecard .card {
        text-align: center;
        border: none;
    }

    .sc-imagecard img {
        height: 250px;
        object-fit: cover;
        opacity: 0.3;
        border-radius: 18px;
    }

    .sc-imagecard .imagecard-title {
        color: var(--color-black);
        text-decoration: none;
        width: 100%;
        font-size: 1.5em;
        font-weight: 800;
        line-height: 1.3em;
    }

    .sc-imagecard .imagecard-text {
        color: var(--color-black);
        line-height: 1.3em;
        font-weight: 600;
        margin-top: 1em;
        margin-bottom: 4em;
    }

    .sc-imagecard .more {
        background-color: var(--color-gold);
        border: 1px solid var(--color-gold);
        border-radius: 6px;
        color: var(--color-black);
        font-size: 0.7em;
        font-weight: bold;
        padding: 8px 16px;
    }

    .sc-imagecard .card:hover .more {
        background-color: var(--color-gold-80);
    }
</style>
