{{- $src := .Get "src" -}}
{{- $alt := .Get "alt" -}}
{{- $width := .Get "width" -}}
{{- $height := .Get "height" -}}
{{- $border := .Get "border" -}}
<img class="sc-img {{ if $border }}{{ $border }}-border{{ end }}" src="{{$src}}" alt="{{$alt}}" width="{{$width}}" height="{{$height}}" />

<style>
    .sc-img {
        max-width: 100%;
        margin: 1em 0;
    }

    .light-border {
        border: 6px solid white;
        border-radius: 16px;
    }

    .dark-border {
        border: 6px solid var(--color-black);
        border-radius: 16px;
    }
</style>