{{- $text := .Get "text" -}}
<div class="sc-promotion-button">
    <a class='promotion-button {{ if isset .Params "theme" }}{{.Params.theme}}{{ else }}light{{ end }}'>
        {{$text}}
    </a>
</div>

<style>
    .sc-promotion-button {
        margin: 3em 0;
        text-align: center;
    }

    .promotion-button {
        border-radius: 4px;
        border: 1px solid;
        padding: 1em 2em;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        -webkit-box-shadow: 0px 0px 10px 0px var(--color-black); 
        box-shadow: 0px 0px 10px 0px var(--color-black);
    }

    .promotion-button.light {
        background-color: transparent;
        border-color: var(--color-black);
        color: var(--color-black);
    }

    .promotion-button.dark {
        background-color: var(--color-black);
        border-color: var(--color-black);
        color: white;
    }

    .promotion-button.light:hover {
        background-color: var(--color-grey-80);
    }

    .promotion-button.dark:hover {
        background-color: var(--color-grey-80);
        border-color: var(--color-grey-80);
    }
</style>