
<div class='contentrow-wrapper-{{ if isset .Params "theme" }}{{.Params.theme}}{{ else }}light{{ end }}'>
    <div class='contentrow {{ if isset .Params "width" }}{{.Params.width}}{{ else }}m{{ end }}'>
        {{ .Inner }}
    </div>
</div>

<style>
    .contentrow-wrapper-light {
        background-color: white;
        color: var(--color-black);
    }

    .contentrow-wrapper-dark {
        background-color: var(--color-black);
        color: white;
    }

    .contentrow {
        line-height: 1.5em;
    }

    .contentrow.xxl {
        max-width: 100%;
        padding: 5em 0;
    }

    .contentrow.xl {
        margin: 0 auto;
        max-width: 1200px;
        padding: 5em 1em;
    }

    .contentrow.l {
        margin: 0 auto;
        max-width: 900px;
        padding: 5em 1em;
    }

    .contentrow.m {
        margin: 0 auto;
        max-width: 700px;
        padding: 5em 1em;
    }

    .contentrow.s {
        margin: 0 auto;
        max-width: 500px;
        padding: 5em 1em;
    }



    .contentrow h1,h2,h3,h4 {
        margin-top: 1em;
    }

    .contentrow h1:first-child {
        margin-top: 0;
    }
    
    .contentrow img {
        width: auto;
        max-width: 100%;
    }
</style>