{{- $theme := .Get "theme" -}}
{{- $width := .Get "width" -}}
{{- $noPadding := .Get "noPadding" -}}
<div
    class="row-wrapper {{ if $theme }}{{ $theme }}{{ else }}light{{ end }}"
    data-aos="fade-up"
    data-aos-duration="1500"
    data-aos-anchor-placement="top-bottom">
    <div class="row justify-content-center {{ if $width }}{{ $width }}{{ else }}md{{ end }} {{ if $noPadding }}no-padding{{end}}">
        {{ .Inner }}
    </div>
</div>

<style>
    .row-wrapper.light {
        background-color: white;
        color: var(--color-black);
    }

    .row-wrapper.dark {
        background-color: var(--color-black);
        color: white;
    }

    .row-wrapper .row {
        line-height: 1.5em;
    }

    .row.xxl {
        max-width: 100%;
        padding: 3em 0;
    }

    .row.xl {
        margin: 0 auto;
        max-width: 1200px;
        padding: 3em 1em;
    }

    .row.lg {
        margin: 0 auto;
        max-width: 900px;
        padding: 3em 1em;
    }

    .row.md {
        margin: 0 auto;
        max-width: 700px;
        padding: 3em 1em;
    }

    .row.sm {
        margin: 0 auto;
        max-width: 500px;
        padding: 3em 1em;
    }
    
    @media only screen and (min-width: 1200px) {
        .row.xxl, .row.xl, .row.lg, .row.md, .row.sm, .row.xs {
            padding-top: 6em;
            padding-bottom: 6em;
        }
    }

    .no-padding {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
</style>