<div class='row-wrapper {{ if isset .Params "theme" }}{{.Params.theme}}{{ else }}light{{ end }}'>
    <div class='row justify-content-center {{ if isset .Params "width" }}{{.Params.width}}{{ else }}m{{ end }}'>
        {{ .Inner }}
    </div>
</div>

<style>
    .row-wrapper.light {
        background-color: white;
        color: var(--color-black);
    }

    .row-wrapper.dark {
        background-color: var(--color-black);
        color: white;
    }

    .row-wrapper .row {
        line-height: 1.5em;
    }

    .row.xxl {
        max-width: 100%;
        padding: 6em 0;
    }

    .row.xl {
        margin: 0 auto;
        max-width: 1200px;
        padding: 6em 1em;
    }

    .row.l {
        margin: 0 auto;
        max-width: 900px;
        padding: 6em 1em;
    }

    .row.m {
        margin: 0 auto;
        max-width: 700px;
        padding: 6em 1em;
    }

    .row.s {
        margin: 0 auto;
        max-width: 500px;
        padding: 6em 1em;
    }
</style>