<script>
function toggleShowMore(btn) {
    if (btn.dataset.status !== 'open') {
        btn.innerHTML = ((btn.innerHTML).replace('MEHR', 'WENIGER')).replace('down', 'up')
        btn.dataset.status = 'open'
    } else {
        btn.innerHTML = ((btn.innerHTML).replace('WENIGER', 'MEHR')).replace('up', 'down')
        btn.dataset.status = 'closed'
    }
}
</script>

{{- $id := .Get "id" -}}
<div class="sc-showmore">
    <div class="collapse-button-div">
        <a id="{{$id}}-collapse-button" class="btn" onclick="toggleShowMore(this)" data-id="{{$id}}" data-status="closed" data-toggle="collapse" href="#{{$id}}-collapse" role="button" aria-expanded="false" aria-controls="{{$id}}-collapse">
            MEHR ANZEIGEN<br>
            <i class="bi bi-caret-down"></i>
        </a>
    </div>
    <div class="collapse" id="{{$id}}-collapse">
        {{ .Inner }}
    </div>
</div>

<style>
    .sc-showmore .collapse-button-div {
        text-align: center;
    }
</style>