<div class="sc-text">
    {{ .Inner | markdownify }}
</div>

<style>
    .sc-text h1:first-child {
        font-family: 'BetterTimes';
        font-size: max(10vw, 7em);
        font-weight: normal;
        text-align: center;
        color: var(--color-gold);
        transform: rotate(-7deg);
        margin-bottom: 16px;
    }

    .sc-text h1,h2,h3,h4 {
        margin-bottom: 0.5em;
    }

    .sc-text h2,h3,h4,p {
        margin-top: 1em;
    }

    .sc-text img {
        max-width: 100%;
    }
</style>