<div class="sc-text">
    {{ .Inner | markdownify }}
</div>

<style>
    .sc-text {
        padding-left: 0;
        padding-right: 0;
    }

    .sc-text h1:first-child {
        font-family: 'BetterTimes';
        font-size: 5em;
        font-weight: normal;
        text-align: center;
        color: var(--color-gold);
        transform: rotate(-7deg);
    }

    .sc-text h1,h2,h3,h4 {
        margin-bottom: 0.5em;
    }

    .sc-text h2,h3,h4,p {
        margin-top: 1em;
    }

    .sc-text img {
        max-width: 100%;
    }

    @media only screen and (min-width: 1030px) {
        .sc-text h1:first-child {
            font-size: 7em;
        }
    }
</style>