<div class='textimagerow textimagerow-{{ if eq .Params.align "right" }}light{{ else }}dark{{ end }}'
    data-aos="fade-up"
    data-aos-duration="1500"
    data-aos-anchor-placement="top-bottom">
    <div class="row">
        {{ if eq .Params.align "right" }}
        <div class="col-lg-6 order-1 order-lg-1">
            <img class="textimagerow-image" src="{{ .Params.image }}" alt="display" />
        </div>
        {{ end }}
        <div class="col-lg-6 order-2">
            <div class="textimagerow-text">
                {{ if isset .Params "logo" }}
                <div style="text-align: center;">
                    <img class="textimagerow-logo" src="{{ .Params.logo }}" alt="logo" />
                </div>
                {{ end }}
                    {{ .Inner | markdownify }}
                {{ if isset .Params "link" }}
                <div style="text-align: center;">
                    <a class="textimagerow-button" href="{{ .Params.link }}">MEHR</a>
                </div>
                {{ end }}
            </div>
        </div>
        {{ if eq .Params.align "left" }}
        <div class="col-lg-6 order-1 order-lg-2">
            <img class="textimagerow-image" src="{{ .Params.image }}" alt="display" />
        </div>
        {{ end }}
    </div>
</div>

<style>
    .textimagerow {
        width: 100%;
        padding: 2em 0;
    }

    .textimagerow-text a:not(.textimagerow-button) {
        color: var(--color-gold);
    }

    .textimagerow-dark {
        background-color: var(--color-grey-5);
    }

    .textimagerow .row {
        height: 100%;
        max-width: 900px;
        margin: 0 auto;
    }

    .textimagerow .order-1 {
        margin-bottom: 1.5em;
    }

    .textimagerow-image {
        width: 100%;
        height: 250px !important;
        object-fit: cover;
    }

    .textimagerow-logo {
        max-width: 150px !important;
        max-height: 70px !important;
        display: block;
        margin: 0 auto;
        margin-bottom: 1.5em;
    }

    .textimagerow-text {
        font-size: 0.9em;
        line-height: 1.5em;
        position: relative;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .textimagerow-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: button;
        text-decoration: none;

        background-color: #b18d2f;
        color: #1f2125;
        font-size: 0.7em;
        font-weight: bold;
        padding: 0.4em 1.5em;
        border-radius: 6px;
        margin: 1.5em 0;
    }

    .textimagerow-button:hover {
        color: #1f2125;
        background-color: #9e7d29;
    }
    
    @media only screen and (min-width: 1000px) {
        .textimagerow .order-1 {
            margin-bottom: 0 !important;
        }

        .textimagerow-image {
            width: calc(100% - 24px) !important;
            height: 80% !important;
            margin-top: 10%;
        }
    }
</style>